{% extends "index.html" %}

{% block content %}

<h2>Raspberrys</h2>
<div class="row">

{% for item in api_data %}

  <div class="col-md-4 col-xl-3 col-link">
    <a href="/pi/{{ item.device.name }}">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h3>{{ item.device.name }}</h3>
            <p>{{ item.distribution }}<span class="f-right">{{ item.distribution_verson }}</span></p>
            <p>api version<span class="f-right">{{ item.api_Version }}</span></p>
            <p>mac<span class="f-right">{{ item.mac_address }}</span></p>
        </div>
    </div>
    </a>
  </div>
{% endfor %}
</div>

{% endblock %}