{% extends "index.html" %}

{% block content %}

<h2>{{device_name}}</h2>
<div class="row">

    <div class="col-md-3 col-link">
        <a href="/chart/{{device_name}}/disk_free" >
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{ data.disk_free[0] }}GB</span>
            <span class="count-name">Disk Free</span>
        </div>
        </a>
    </div>

    <div class="col-md-3 col-link">
        <a href="/chart/{{device_name}}/memory_free" >
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{ data.memory_free[0] }}MB</span>
            <span class="count-name">Memory free</span>
        </div>
        </a>
    </div>

    <div class="col-md-3 col-link">
        <a href="/chart/{{device_name}}/cpu_temp" >
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{ data.cpu_temp[0] }}°C</span>
            <span class="count-name">CPU temperature</span>
        </div>
        </a>
    </div>


    {% for item in data.ds1820 %}
    <div class="col-md-3 col-link">
        <a href="/chart/{{device_name}}/{{item.name}}" >
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{ item.temp }}°C</span>
            <span class="count-name">Sensor {{loop.index}} temperature</span>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}